
<%- include header -%>

    <div class="right">
        <section>
            <div class="title align-center">
                <h2>Your Account</h2>
                <p>This page allows you to view your Account informations.</p>
            </div>
            <div class="wide">
                <div class="form-box">
                    <form id="update-settings" name="update-settings" action="/settings" method="post" novalidate="novalidate">

                        <div class="form-row">
                            <label>Subscription Plan</label>
                            <input readonly type="text" id="subscriptionPlan" name="subscriptionPlan"
                                   size="30" value="<%= settings.subscriptionPlan %>"
                                   required="" class="text login_input">
                        </div>

                        <div class="form-row">
                            <label>Next Subscription Payment</label>
                            <input readonly type="text" id="subscriptionExpire" name="subscriptionExpire"
                                   size="30" value="<%= settings.subscriptionExpire %>"
                                   required="" class="text login_input">
                            <% if (settings.subscriptionExpire != "N/A" && currentUser.get("stripeSubscriptionId")) { %>
                            <span id="cancel-confirm"
                                  style="display:none;">Cancelling your account means you will lose your phone number. Are you sure you want to cancel?</span>
                            <div class="align-center"><a href="/cancel-subscription" class="cancel-action">Cancel Automatic Renewal</a></div>
                            <% } %>
                        </div>

                        <div class="form-row">
                            <label>Office Name</label>
                            <input readonly type="text" id="officeName" name="officeName"
                                   size="30" value="<%= settings.officeName %>"
                                   required="" class="text login_input">
                        </div>

                        <div class="form-row">
                            <label>Email Address</label>
                            <input readonly type="text" id="emailAddress" name="emailAddress"
                                   size="30" value="<%= settings.emailAddress %>"
                                   required="" class="text login_input">
                        </div>

                        <div class="form-row">
                            <label>Area Code</label>
                            <input readonly type="text" id="areaCode" name="areaCode"
                                   size="30" value="<%= settings.areaCode %>"
                                   required="" class="text login_input">
                        </div>

                        <div class="form-row">
                            <label>Feedback Phone Number</label>
                            <input readonly type="text" id="phoneNumber" name="phoneNumber"
                                   size="30" value="<%= settings.phoneNumber %>"
                                   required="" class="text login_input">
                        </div>
                    </form>
                </div>
                <div class="shadow"></div>
                <div class="meta align-center">
                    <a href="/terms-and-conditions">Terms &amp; Conditions</a>
                </div>
            </div>
        </section>
    </div>

<script>
$(document).ready(function()
{
  $(".cancel-action").click(function(e)
  {
    if (! confirm($("#cancel-confirm").html())) {
      e.preventDefault();
      return false;
    }

    return true;
  });
});
</script>

<%- include footer -%>
