
<%- include header -%>

    <div class="right">
        <section>
            <div class="title align-center">
                <h2>Send Feedback Requests Today</h2>
                <p>Signup for an account and send Feedback Requests today !</p>
                <p>Already have an account ? <a href="/signin" class="btn">Login</a></p>
            </div>
            <div class="wide">
                <div class="form-box">
                    <% if (errorMessage) { %>
                    <div id="error">
                        <div>
                            <p>Error: <%= errorMessage %></p>
                        </div>
                    </div>
                    <% } %>
                    <form id="signup" name="signup" method="post" novalidate="novalidate">
                        <div class="form-row">
                            <label>Office Name <span class="required">*</span></label>
                            <input type="text" name="office" id="officename" size="30" value="<%= formValues.office %>" required="" class="text login_input">
                        </div>
                        <div class="form-row">
                            <label>Email Address <span class="required">*</span></label>
                            <input type="text" name="username" id="username" size="30" value="<%= formValues.username %>" required="" class="text login_input">
                        </div>
                        <div class="form-row">
                            <label>Area Code <span class="required">*</span></label>
                            <input type="text" name="area" id="areacode" size="30" value="<%= formValues.area %>" class="text login_input">
                        </div>
                        <div class="form-row">
                            <label>Password</label>
                            <input type="password" name="password" id="password" size="30" value="" class="text login_input">
                        </div>
                        <div class="form-row">
                            <input type="submit" id="signup-submit" value="Signup and get started!" class="btn btn-wide">
                        </div>
                        <div class="align-center">We take privacy seriously.</div>
                    </form>
                </div>
                <div class="shadow"></div>
                <div class="meta align-center">
                    <a href="/terms-and-conditions">Terms &amp; Conditions</a>
                </div>
            </div>
        </section>
    </div>

<script>
$(document).ready(function()
{
    $("#signup").submit(function(e)
    {
        e.preventDefault();

        $("#signup-submit").css({
            "background": "#fff url(/images/ajax-loading.gif) no-repeat center center"
        });
        $("#signup-submit").val("");

        if ($("#error").length)
            $("#error").remove();

        var code = $("#areacode").val();

        $.ajax({
            context: this,
            url: "/validateAreaCode",
            type: "post",
            data: {code: code},
            success:function(d) {
                if (d !== "OK") {
                    var err = $("<div id='error'><div><p>" + d + "</p></div></div>");
                    $(".form-box").prepend(err);
                    $("#signup-submit").css("background", "#3aa2cb");
                    $("#signup-submit").val("Signup and get started!");
                }
                else
                    // validation OK.
                    this.submit();
            }
        });
        return false;
    });
});
</script>

<%- include footer -%>
