
<%- include header -%>

    <div class="right">
        <section>
            <div class="title align-center">
                <h2>Subscribe to a Plan</h2>
                <p>Please choose one of following Plans.</p>
            </div>
            <div class="wide">
                <div class="form-box">
                    <form id="plan-subscription" name="plan-subscription" action="/subscription" method="post" novalidate="novalidate">
                        <div id="ajax-loading"><img src="/images/ajax-loading.gif" alt="Working.." /></div>

                        <% if (errorMessage) { %>
                        <div id="error">
                            <div>
                                <p>Error: <%= errorMessage %></p>
                            </div>
                        </div>
                        <% } %>

                        <div id="unknown-error" style="display:none;">
                            <div>
                                <p>Error: Please Select a Plan !</p>
                            </div>
                        </div>

                        <div id="success-content" style="display:none">
                            <div>
                                <p>You have selected a %%PLAN%% account, now please click
                                "Subscribe Now" ! Or click Cancel to go back:
                                <a href="#" class="cancel-action">Cancel</a></p>
                            </div>
                        </div>
                        <div id="success" style="display:none;">
                            <div>
                                <p>You have selected a %%PLAN%% account, now please click
                                "Subscribe Now" ! Or click Cancel to go back:
                                <a href="#" class="cancel-action">Cancel</a></p>
                            </div>
                        </div>

                        <div class="form-row">

                        <% if (! stripePlans.length) { %>

                            <div id="unknown-error">
                                <div>
                                    <p>Error: No Stripe plans could be found !</p>
                                </div>
                            </div>

                        <% } else { %>

                            <% for (var i = 0; i < stripePlans.length; i++) {
                                var plan     = stripePlans[i];
                                var amount   = plan.amount / 100;
                                var interval = plan.interval;
                                var currency = plan.currency == "usd" ? "$" : "€";
                                %>

                            <a href="#" class="btn subscribe-btn"
                                data-id="<%= plan.id %>"
                                data-amt="<%= plan.amount %>"
                                data-name="<%= plan.name %>"
                                data-currency="<%= plan.currency %>"
                                data-interval="<%= plan.interval %>">Subscribe to <b><%= plan.name %></b> (<%= currency %><%= amount %>/<%= interval %>)</a><br />

                            <% } %>
                        <% } %>
                        </div>

                        <div class="form-row">
                            <input type="hidden" name="stripeToken" id="stripe-token" />
                            <input type="hidden" name="stripeEmail" id="stripe-email" />
                            <input type="hidden" name="stripePlan" id="stripe-plan" />
                            <input id="subscription-submit" type="submit" name="submit" value="Subscribe Now" class="btn btn-wide" style="display: none;">
                        </div>

                    </form>
                </div>
                <div class="shadow"></div>
                <div class="meta align-center">
                    <a href="/terms-and-conditions">Terms &amp; Conditions</a>
                </div>
            </div>
        </section>
    </div>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
var registerClickListeners = function(stripeHandler)
{
    $(".subscribe-btn").on("click", function(e)
    {
        $(".subscribe-btn").removeClass("chosen");

        var planId   = $(this).attr("data-id");
        var planAmt  = parseInt($(this).attr("data-amt"));
        var planName = $(this).attr("data-name");
        var origCur  = $(this).attr("data-currency");
        var planCur  = $(this).attr("data-currency") == "usd" ? "$" : "€";
        var planInt  = $(this).attr("data-interval");
        var desc     = planName + " (" + planCur + (planAmt/100)
                     + "/" + planInt + ")";

        stripeHandler.open({
          name: planName,
          description: desc,
          panelLabel: "Subscribe for",
          currency: origCur,
          amount: planAmt,
          allowRememberMe: false
        });

        $("#stripe-plan").val(planId);
        $(this).addClass("chosen");

        e.preventDefault();
    });
};

var unregisterClickListeners = function()
{
    // no more button click possible.
    $(".subscribe-btn").off("click");
    $(".subscribe-btn").on("click", function(e)
        {
            e.preventDefault();
            return false;
        });
};

var registerCancelListener = function()
{
    $(".cancel-action").click(function(e)
    {
        e.preventDefault();

        $("#stripe-token").val("");
        $("#stripe-email").val("");
        $("#stripe-plan").val("");

        $(".subscribe-btn").each(function()
        {
            $(this).css("background", $(this).attr("data-bg-backup"));
        });
        registerClickListeners();

        $("#success").fadeOut("slow");
        $("#success").html($("#success-content").html());
        return false;
    });
};

var stripeHandler;
Parse.initialize("ThfEtMA3gRRKGjcf63fNTb297LWMUuhPyZtAeOhu", "tr7KcgAiaNSDMNgiEAXaw4ETjMkz04nyRIpY2fHj");

// get Stripe API Key from Parse.Config
Parse.Config.get().then(
function(config)
{
    whichKey      = config.get("whichStripeKey"); // "stripeTest" or "stripeLive"
    stripeApiKey  = config.get(whichKey + "PublicKey");
    stripeHandler = StripeCheckout.configure({
        key: stripeApiKey,
        image: '/images/logo.png',
        locale: 'auto',
        token: function(token) {
            $("#stripe-token").val(token.id);
            $("#stripe-email").val(token.email);

            unregisterClickListeners();

            var chosen_plan  = $("#stripe-plan").val();

            $(".subscribe-btn").each(function()
            {
                $(this).attr("data-bg-backup", $(this).css("background"));
            });

            $(".subscribe-btn[data-id='" + chosen_plan + "']").css("background", "#77b054");
            $(".subscribe-btn[data-id!='" + chosen_plan + "']").css("background", "#aba6a6");
            $("#subscription-submit").click();
        }
    });

    registerClickListeners(stripeHandler);
},
function(error) {});

$(document).ready(function()
{
    $("#plan-subscription").submit(function(e)
    {
        var bg_backup = $("#subscription-submit").css("background");

        $("#subscription-submit").css({
            "background": "#fff url(/images/ajax-loading.gif) no-repeat center center"
        });
        $("#subscription-submit").val("");
        $("#subscription-submit").fadeIn("fast");

        if (! $("#stripe-token").val().length) {
            $("#subscription-submit").css("background", bg_backup);
            $("#subscription-submit").val("Subscribe Now");
            $("#unknown-error").fadeIn("slow");

            e.preventDefault();
            return false;
        }

        return true;
    });
});
</script>

<%- include footer -%>
